* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: #fff;
    height: 50px;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  nav li {
    display: inline-block;
  }

  nav a {
    display: block;
    padding: 0 10px;
    line-height: 50px;
    color: #fff;
    text-decoration: none;
  }

  nav a:hover {
    background-color: #555;
  }

img {
    border-radius: 6px;
}

.aboutMe {
    display: flex;
    flex-direction: row;
    flex: 1 0 0;
    padding: 20px;
    height: 200px;
    width: 100%;
}

.aboutMe .heading {
    flex-wrap: wrap;
    flex-basis: 12%;
    text-align: right;
    font-size: 30px;
    color:rgb(3, 105, 194);
    border-right: 5px solid black;
    padding-right: 18px;
}

.aboutMe .text {
    flex-wrap: wrap;
    flex-basis: 60%;
    text-align: left;
    width: 50%;
    padding-left: 30px;
}

.work {
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: 800px;
    width: 100%;
}

.work .heading {
    flex-wrap: wrap;
    flex-basis: 12%;
    text-align: right;
    font-size: 30px;
    color:rgb(3, 105, 194);
    border-right: 5px solid black;
    padding-right: 18px;
}

.work .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    flex-basis: 72%;
    /* padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px; */
}

.work .projects > :first-child { /* Adds styling to the first element in the project list */


    text-align: center;
    font-size: 30px;
    color:rgb(3, 105, 194);
    border: 5px solid rgb(10, 116, 165);
    background-color:red;
    width: 97.5%;
    height: 50%;
    margin-top: 8px;
    /* margin-bottom: 10px;
    /* margin-left: 10px; */
}

.work .projects > :not(:first-child) { /* Adds styling to all elements in the project list after the first element */

    text-align: center;
    font-size: 30px;
    color:rgb(3, 105, 194);
    border: 5px solid rgb(10, 108, 165);
    background-color: gray;
    width: 48%;
    height: 20%;
    /* margin-bottom: 10px;
    margin-left: 10px; */

}

.work .projects > :hover { /* Adds styling to all elements in the project list after the first element when hovered over */
    background-color: rgb(12, 10, 165);
    color: white;
}


.contact {
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 200px;
    width: 100%;
    background-color:rgb(255, 255, 255);
}

.contact .heading{
    flex-wrap: wrap;
    flex-basis: 12%;
    text-align: right;
    font-size: 30px;
    color:rgb(3, 105, 194);
    border-right: 5px solid black;
    padding-right: 18px;
}

.contact .elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}






























